/*Ændrer alt i bodyen*/
body {
    margin: 0;
    padding: 9;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

/*Selve navigationsbarens styling*/
#navbar {
    background-color: #333;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    height: 50px;
    transition: top 0.3s;
}

/*Listens (menuens) styling*/
nav ul {
    height: 70px;
    list-style: none;
}

/*Punkterne i menuen vises som block*/
nav ul li {
    display: block;
}

/*Styling af links i menuen*/
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

/*Ændrer styling når musen holdes hen over links*/
#navbar a:hover {
    background-color: #ddd;
    color: black;
}



/*-------------------FYLD TIL EKSEMPLET------------------*/
.boxing {
    height: 1000px;
    background-color:floralwhite;
    display: flex;
    justify-content: center;
    text-align: center;
}

.boxing div {
  display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    justify-content: center;
}

h2{
    color: darkred;
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: -3px;
    border-bottom: darkred 2px solid;
}

h3 {
    margin-top: -30px;   
}

h4 {
    font-size: 25px;
    margin-bottom: -20px;
    color: darkred;
    text-align: left;
}

.boxing ul {
    text-align: left;
    font-size: 20px;
}